body{
	background-color: #000;
			
	font-family: sans;
	color: #AFF;
}
.flex_body{
	display: flex;
	flex-flow: column;
	height: 100%;
}

.horizontalLine{
	height: 2px;
	background-color: #AFF;
}

.HeaderBar{
	display: grid;
	text-align: center;
	height: 0%;
	grid-gap: 0px;
	grid-template-columns: auto;

	transition-duration: 0.5s;
}

.HeaderItem{
	border-left: 2px solid #AFF0;
	border-right: 2px solid #AFF0;
		
	font-size: 32px;
	height: auto;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	line-height: auto;
}

.HeaderButton{
	margin-top: 0px;

	transition-duration: 0.4s;
}
.HeaderButton:hover{
	border-left: 2px solid #AFF;
	border-right: 2px solid #AFF;
}
.HeaderButton:active{
	border-left: 2px solid #AFF0;
	border-right: 2px solid #AFF0;
	
	transition-duration: 0.1s;
}

#gl_win {
	width: 100%;
	height: 100%;

	transition-duration: 0.5s;
}

#Debug {
	height: "12%";
}